<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="net.bioclipse.scripting.contribution">
      <scriptContribution
         id="net.bioclipse.align.kalign.ws.business.KalignManager"
         service="net.bioclipse.align.kalign.ws.business.KalignManagerFactory">
      </scriptContribution>
   </extension>

      <!--extension point="org.eclipse.core.expressions.definitions">
      <definition id="net.bioclipse.definitions.activeSequenceEditor">
         <with variable="activeEditorId">
            <equals value="net.bioclipse.biojava.ui.editors.SequenceEditor" />
         </with>
      </definition>
   </extension-->


  <extension point="org.eclipse.ui.menus">
     <menuContribution
         locationURI="toolbar:net.bioclipse.biojava.ui.editor.toolbar?after=additions">

          <command commandId="net.bioclipse.align.kalign.ws.Align"
                   tooltip="Align with Kalign"
                   icon="icons/align.png">
            <visibleWhen>
              <reference
                definitionId="net.bioclipse.definitions.activeSequenceEditor">
              </reference>
            </visibleWhen>
          </command>

     </menuContribution>
     
       		<menuContribution
			locationURI="popup:org.eclipse.ui.popup.any?after=additions">
			<menu 
				id="net.bioclipse.align.popup"
				label="Align">
			</menu>
     </menuContribution>

       		<menuContribution
			locationURI="popup:net.bioclipse.align.popup?after=additions">
     
          <command commandId="net.bioclipse.align.kalign.ws.AlignPopup"
                   tooltip="Align using Kalign"
                   icon="icons/align.png">
            <visibleWhen>
            <with variable="selection">
                 <count
                       value="(1-">
                 </count>
                 <iterate
                    ifEmpty="false"
                    operator="and">
                 <adapt
                       type="org.eclipse.core.resources.IResource">
                       <test
                             property="org.eclipse.core.resources.contentTypeId"
                             value="net.bioclipse.bioinformatics.sequenceType">
                       </test>
                 </adapt>
              </iterate>
            </with>
            </visibleWhen>
          </command>

     </menuContribution>
     
     
  </extension>

    <extension point="org.eclipse.ui.commands">
    <command id="net.bioclipse.align.kalign.ws.Align"
             description="Align sequences using KAlign Web service at EBI"
             name="Align using KAlign">
    </command>
    <command id="net.bioclipse.align.kalign.ws.AlignPopup"
             description="Align sequences using KAlign Web service at EBI"
             name="Align using KAlign">
    </command> 
  </extension>

  <extension point="org.eclipse.ui.handlers">
    <handler class="net.bioclipse.align.kalign.ws.handlers.AlignHandler"
            commandId="net.bioclipse.align.kalign.ws.Align">
    </handler>
    <handler class="net.bioclipse.align.kalign.ws.handlers.KalignPopupHandler"
            commandId="net.bioclipse.align.kalign.ws.AlignPopup">
    </handler>
  </extension>



</plugin>
