<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

    <!-- declare a content type to eliminate duplicated file extensions -->
   <extension
         point="org.eclipse.core.runtime.contentTypes">
      <content-type
            id="net.bioclipse.biojava.ui.sequenceType"
            name="sequence"
            base-type="org.eclipse.core.runtime.text"
            file-extensions="gbk,fasta,embl,seq">
      </content-type>
   </extension>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="net.bioclipse.biojava.ui.editors.SequenceEditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            icon="icons/sequence4.gif"
            id="net.bioclipse.biojava.ui.editors.SequenceEditor"
            name="Sequence Editor">
            <contentTypeBinding
                  contentTypeId="net.bioclipse.biojava.ui.sequenceType">
            </contentTypeBinding>
      </editor>
   </extension>

      <extension
         point="net.bioclipse.ui.business.editorShortname">
         <shortname
               alias="sequence"
               editorID="net.bioclipse.biojava.ui.editors.SequenceEditor">
         </shortname>
   </extension>

      <extension
         point="net.bioclipse.ui.bioobjectDescriber">
        <BioObject
            describer="net.bioclipse.biojava.ui.describer.SequenceEditorDescriber"
            id="net.bioclipse.cdk.sequenceditor.describer"
            objectClass="net.bioclipse.core.domain.RecordableList">
        </BioObject>
        <BioObject
            describer="net.bioclipse.biojava.ui.describer.SequenceEditorDescriber"
            id="net.bioclipse.cdk.sequenceditor.describer"
            objectClass="net.bioclipse.core.domain.ISequence">
        </BioObject>
   </extension>

   <!--extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            contentProvider="net.bioclipse.biojava.ui.views.SequenceContentProvider"
            id="net.bioclipse.biojava.ui.views.SequenceContent"
            labelProvider="net.bioclipse.biojava.ui.views.SequenceLabelProvider"
            name="Sequence Content">
         <triggerPoints>
         <and>
            <instanceof value="org.eclipse.core.resources.IResource"/>
            <or>
            <test
                forcePluginActivation="true"
                property="org.eclipse.core.resources.extension"
                value="fasta"/>
            <test
                forcePluginActivation="true"
                property="org.eclipse.core.resources.extension"
                value="embl"/>
            <test
                forcePluginActivation="true"
                property="org.eclipse.core.resources.extension"
                value="gbk"/>
            <test
                forcePluginActivation="true"
                property="org.eclipse.core.resources.extension"
                value="seq"/>
            </or>
         </and>
         </triggerPoints>
      </navigatorContent>
   </extension-->

<!-- Add SequenceContent to expand Sequences with BioJava -->
<!--extension
      point="org.eclipse.ui.navigator.viewer">
      <viewerContentBinding
            viewerId="net.bioclipse.navigator">
            <includes>
            <contentExtension
                  pattern="net.bioclipse.biojava.ui.views.SequenceContent">
            </contentExtension>
            </includes>
      </viewerContentBinding>
</extension-->

  <extension
         point="org.eclipse.ui.commands">
         <category
               id="net.bioclipse.biojava.ui.category"
               name="BiojavaCategory">
         </category>
      <command
            id="net.bioclipse.biojava.ui.LongRunningCommand"
            categoryId="net.bioclipse.biojava.ui.category"
            name="LongRunningCommand"/>
   </extension>

   <extension point="org.eclipse.core.expressions.definitions">
      <definition id="net.bioclipse.definitions.activeSequenceEditor">
         <with variable="activeEditorId">
            <equals value="net.bioclipse.biojava.ui.editors.SequenceEditor" />
         </with>
      </definition>
   </extension>

  <extension point="org.eclipse.ui.menus">

     <menuContribution
         locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">

        <toolbar id="net.bioclipse.biojava.ui.editor.toolbar">
          <command commandId="net.bioclipse.biojava.ui.actions.zoomout"
                   tooltip="Zoom out"
                   icon="icons/zoom_out.png">
            <visibleWhen>
              <reference
                definitionId="net.bioclipse.definitions.activeSequenceEditor">
              </reference>
            </visibleWhen>
          </command>

          <command commandId="net.bioclipse.biojava.ui.actions.zoomin"
                   tooltip="Zoom in"
                   icon="icons/zoom_in.png">
            <visibleWhen>
              <reference
                definitionId="net.bioclipse.definitions.activeSequenceEditor">
              </reference>
            </visibleWhen>
          </command>

          <command commandId="net.bioclipse.biojava.ui.actions.wrapmode"
                   tooltip="Toggle wrap"
                   icon="icons/zoom_in.png">
            <visibleWhen>
              <reference
                definitionId="net.bioclipse.definitions.activeSequenceEditor">
              </reference>
            </visibleWhen>
          </command>

          <separator name="additions"
                     visible="false" />

            <visibleWhen>
              <reference
                definitionId="net.bioclipse.definitions.activeSequenceEditor">
              </reference>
            </visibleWhen>

        </toolbar>
     </menuContribution>
  </extension>

  <extension point="org.eclipse.ui.commands">
    <command id="net.bioclipse.biojava.ui.actions.zoomin"
             description="Zoom in"
             name="Zoom in">
    </command>
    <command id="net.bioclipse.biojava.ui.actions.zoomout"
             description="Zoom out"
             name="Zoom out">
    </command>
    <command id="net.bioclipse.biojava.ui.actions.wrapmode"
             description="Toggle wrap"
             name="Toogle wrap">
    </command>
  </extension>

  <extension point="org.eclipse.ui.handlers">
    <handler class="net.bioclipse.biojava.ui.handlers.ZoomInHandler"
            commandId="net.bioclipse.biojava.ui.actions.zoomin">
    </handler>
    <handler class="net.bioclipse.biojava.ui.handlers.ZoomOutHandler"
            commandId="net.bioclipse.biojava.ui.actions.zoomout">
    </handler>
    <handler class="net.bioclipse.biojava.ui.handlers.WrapModeHandler"
            commandId="net.bioclipse.biojava.ui.actions.wrapmode">
    </handler>
  </extension>
</plugin>
